
*.log
wp-config.php
wp-includes/*
wp-admin/*
/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
/wp-*.php
/index.php
/xmlrpc.php
.DS_Store
wp-content/*
!wp-content/themes/
node_modules
@design
