@import "base/variables";
@import "base/mixins";

body {
	opacity: 1!important;
}

// Hero
.hero-block {
	.hero-heading,h1,h2,h3, p, .button {
			visibility: visible!important;
		} 
}

// Video Popup
.sapphire-video-popup {
	.add-yt {
		border: 2px solid $color-light;
		padding: 20px 40px;
		text-align: center;
		margin-bottom: 20px;
		.h3 {
			text-decoration: underline;
		}
		.rich-text {
			padding: 10px 20px;
			background: rgba($color-dark, .5);
			color: $color-light;
		}
	}
}

// Sapphire Content
.sapphire-content {
	background-color: rgba($color-dark, .1);
	margin: 0;
	padding: 55px 20px 65px;
	@include media-min($sm) {
		padding: 55px 40px 65px;
	}
	@include media-min($md) {
		@include contain($md, 55px, 65px);
	}

}