.sapphire-video-popup {
	background-color: $color-primary-alt;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 60px 20px;
	@include media-min($sm) {
		padding: 80px 40px;
	}
	@include media-min($md) {
		@include contain($md, 127px);
	}
	.button {
		&.secondary {
			width: 100%;
			@include media-min($xxs) {
				min-width: 280px;
				width: auto;
			}
		}
	}
	.yt-overlay {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		overflow-y: scroll;
		z-index: -999;
		opacity: 0;
		border-radius: 50%;
		transform: scale(50%);
		transition: all $speed-med ease-in-out;
		padding: 80px 20px;
		@include media-min($sm) {
			padding: 100px 40px 40px;
		}
		@include media-min($md) {
			@include contain($md, 173px, 80px);
		}
		&.on {
			opacity: 1;
			border-radius: 0;
			z-index: 999;
			transform: scale(1);
			background-color: rgba($color-dark, .71);
			.yt-wrapper {
				opacity: 1;
				border-radius: 0;
				transform: scale(1);
			}
		}
	}
	.yt-wrapper {
		overflow: hidden;
		opacity: 0;
		border-radius: 50%;
		transform: scale(0);
		transition: all $speed-really-slow;
	}
	/* Responsive YT video */
	.ytvideo {
		width: 100%;
		position: relative;
		height: 0;
		overflow: hidden;
		/* 16x9 Aspect Ratio */
		padding-bottom: 56.25%;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: none;
			min-height: 0;
		}
	}
	.close-popup {
		display: block;
		background: none;
		border: none;
		position: fixed;
		top: 20px;
		right: 20px;
		width: 30px;
		height: 21px;
		cursor: pointer;
		z-index: 1000;
		outline: none;
		margin-left: 20px;
		i,
		i::before,
		i::after {
			position: absolute;
			height: 3px;
			width: 33px;
			top: 9px;
			left: 0;
			background-color: $color-light;
		}

		i {
			background: transparent;
			&:before {
				content: '';
				top: -9px;
				transform: rotateZ(45deg) translate(6.5px, 6.5px);
			}
			&:after {
				content: '';
				top: 9px;
				transform: rotateZ(-45deg) translate(6.5px, -6.5px);
			}
		}

	}
}







